---
import Button from '~/components/ui/Button.astro';

import SoumissionForm from '~/components/pages/home/Soumission-Form.astro';

const tagline = 'CONTACTEZ NOS PROFESSIONNELS';
const title =
  "Services D'Entretien Ménager <br />  <span class='text-accent text-4xl md:text-5xl dark:text-white highlight'>Soumission Gratuite !</span>";
const subtitle =
  'En tant qu’entreprise de nettoyage qualifiée, le groupe de Service Élite JC vous garantit un nettoyage efficace dans toutes vos installations. Nous comptons avec une équipe exceptionnelle au niveau professionnel en utilisant les techniques d’hygiène appropriées pour tout environnement.';

const actions: {
  variant: 'primary' | 'secondary';
  target: '_blank' | '_self';
  text: string;
  href: string;
}[] = [
  { variant: 'primary', target: '_self', text: '📞 (514) 718-8772', href: 'tel:1-514-718-8772' },
  { variant: 'secondary', target: '_self', text: 'Learn More', href: '/services' },
];
---

<section class="relative md:-mt-[76px] not-prose">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-12 md:py-20 lg:py-0 lg:flex lg:items-center lg:h-screen lg:gap-8">
      <div class="basis-1/2 text-center lg:text-left pb-10 md:pb-16 mx-auto">
        {
          tagline && (
            <p
              class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase"
              set:html={tagline}
            />
          )
        }
        {
          title && (
            <h1
              class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
              set:html={title}
            />
          )
        }
        <div class="max-w-3xl mx-auto lg:max-w-none">
          {subtitle && <p class="text-xl text-muted mb-6 dark:text-slate-300" set:html={subtitle} />}

          <div
            class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 lg:justify-start lg:m-0 lg:max-w-7xl"
          >
            {
              actions &&
                actions.map((action) => (
                  <div class="flex w-full sm:w-auto">
                    <Button class="w-full sm:mb-0" variant={action.variant} target={action.target} href={action.href}>
                      {action.text}
                    </Button>
                  </div>
                ))
            }
          </div>
        </div>
        <!-- {content && <Fragment set:html={content} />} -->
      </div>
      <div class="basis-1/2">
        <SoumissionForm id="form" />
      </div>
    </div>
  </div>
</section>
